@media(max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  
  .films__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    row-gap: 30px;
  }
  
  .collections__cards {
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
  }
  
  .collections__item {
    max-width: 600px;
    height: 300px;
  }
  
}

@media(max-width: 992px) {
  .container {
    max-width: 720px;
  }
}

@media(max-width: 768px) {
  .container {
    max-width: 540px;
  }

  .header__nav {
    padding: 25px 0;
  }
  
  .header__menu {
    display: flex;
  }
  
  .header__menu:focus + .header__list {
    left: 0;
  }

  .header__list {
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: -100%;
    width: 200px;
    background: rgba(1, 3, 5, 0.80);
    backdrop-filter: blur(7.5px);
    text-align: center;
    transition: 700ms linear;
  }
  
  .banner {
    height: 80vh;
  }
  
  .banner__title {
    font-size: 50px;
    text-align: center;
  }
  
  .banner__btns {
    justify-content: center;
  }
  
  .films__title {
    margin: 0 auto 30px;
  }
  
  .films__cards {
    grid-template-columns: 1fr;
  }
  
  .cartoons {
    padding-top: 0;
  }
  
  .cartoons::after {
    background: linear-gradient(90deg, #DEF7FF 0%, #F4FCFF 15.64%, rgba(255, 255, 255, 0.00) 100.72%);
  }
  
  .cartoons .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .cartoons__logo {
    transform: translateX(0);
  }
  
  .cartoons__video {
    width: 85%;
  }
  
  .collections__title {
    margin: 0 auto 30px;
  }
}

@media(max-width: 576px) {
  .container {
    max-width: auto;
  }
  
  .banner__title {
    font-size: 35px;
  }
  
  .banner__btns {
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
  }
  
  .films {
    padding: 30px 0;
  }
  
  .collections__item {
    max-width: 350px;
    height: 193px;
  }
  
  .collections__item-title {
    max-width: 200px;
    width: 100%;
  }
}