@media(max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

@media(max-width: 992px) {
  .container {
    max-width: 720px;
  }
}

@media(max-width: 768px) {
  .container {
    max-width: 540px;
  }

  .header__nav {
    padding: 25px 0;
  }
  
  .header__menu {
    display: flex;
  }
  
  .header__menu:focus + .header__list {
    left: 0;
  }

  .header__list {
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: -100%;
    width: 200px;
    background: rgba(1, 3, 5, 0.80);
    backdrop-filter: blur(7.5px);
    text-align: center;
    transition: 700ms linear;
  }
  
  .banner {
    height: 80vh;
  }
  
  .banner__title {
    font-size: 50px;
    text-align: center;
  }
  
  .banner__btns {
    justify-content: center;
  }
}

@media(max-width: 576px) {
  .container {
    max-width: auto;
  }
  
  .banner__title {
    font-size: 35px;
  }
  
  .banner__btns {
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
  }
}