@import "./fonts.css";

:root {
  --linkHover: #ED8E00;
  --btnBg: #F18128;
  --btnHover: #040D1F;
  --bodyBg: #040D1F;
  --title: #F18128;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-corner {
  background: var(--title);
}

*::-webkit-scrollbar-thumb {
  background: var(--title);
  border-radius: 3px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

body {
  font-family: 'Comfortaa';
  background: var(--bodyBg);
}

.container {
  max-width: 1143px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.btn {
  width: 166px;
  padding: 17px 48px;
  border-radius: 4px;
  background: var(--btnBg);
  color: #000;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  line-height: 100%;
  box-shadow: 0 0 10px 0 var(--btnHover);
  transition: 500ms;
}

.btn:hover {
  background: var(--btnHover);
  box-shadow: 0 0 10px 0 var(--btnBg);
  color: white;
}

.title {
  color: var(--title);
  font-size: 36px;
  font-weight: 400;
  line-height: 100%;
  text-transform: capitalize;
  width: max-content;
  position: relative;
  padding-bottom: 12px;
  margin-bottom: 45px;
}

.title::after {
  content: '';
  display: block;
  background: var(--title);
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  transition: 500ms;
  border-radius: 23px 23px 0 0;
}

.ads {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 24px;
  background: linear-gradient(90deg, #3800AF 0%, #BF7204 97.52%, #C27500 100%, #C27500 100%);
}

.ads__text {
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  max-width: 166px;
  width: 100%;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}

.header__nav {
  background: rgba(1, 3, 5, 0.80);
  backdrop-filter: blur(7.5px);
  position: relative;
}

.header__nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: flex;
  align-items: flex-end;
  column-gap: 5px;
}

.header__logo span {
  color: #FFF;
  font-size: 18px;
  font-weight: 700;
  line-height: 100%;
}

.header__menu {
  width: 50px;
  height: 50px;
  display: none;
  flex-direction: column;
  justify-content: center;
  row-gap: 5px;
}

.header__menu span {
  height: 8px;
  width: 100%;
  background: white;
  border-radius: 3px;
  transition: 500ms linear;
}

.header__menu:hover span {
  background: var(--linkHover);
}

.header__menu:focus span {
  background: var(--linkHover);
}

.header__menu:focus span:nth-child(1) {
  transform: rotate(45deg) translateY(20px) translateY(-11px) translateX(20px) translateX(-11px);
}

.header__menu:focus span:nth-child(2) {
  transform: rotate(-45deg);
  opacity: 0;
}

.header__menu:focus span:nth-child(3) {
  transform: rotate(-45deg) translateY(-20px) translateY(11px) translateX(20px) translateX(-11px);
}


.header__list {
  display: flex;
  column-gap: 18px;
}

.header__link {
  color: #FFF;
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  padding: 43px 6px;
  text-transform: capitalize;
  display: block;
  transition: 500ms;
  position: relative;
}

.header__link::after {
  content: '';
  display: block;
  height: 2px;
  border-radius: 23px 23px 0px 0px;
  background: #ED8E00;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  transition: 500ms linear;
}

.header__link:hover::after {
  width: 100%;
  left: 0;
}

.header__link:hover {
  color: var(--linkHover);
}

.banner {
  height: 100vh;
  position: relative;
  display: flex;
}

.banner .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(7, 15, 25, 0.75);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.banner__img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner__title {
  color: #FFF;
  font-family: 'Montserrat';
  font-size: 64px;
  font-weight: 700;
  line-height: 100%;
  text-transform: capitalize;
  margin-bottom: 30px;
}

.banner__desc {
  color: #C8C8C8;
  text-align: justify;
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  max-width: 570px;
  width: 100%;
  margin-bottom: 50px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}

.banner__btns {
  display: flex;
  column-gap: 30px;
}

.films {
  padding: 60px 0 77px;
}

.films:hover .title::after {
  width: 100%;
  left: 0;
}

.films__cards {
  display: flex;
  justify-content: space-between;
}

.films__item {
  border-radius: 6px;
  overflow: hidden;
  max-width: 255px;
  width: 100%;
  padding: 54px 15px 18px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.films__item::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(241, 129, 40, 0.35) 0%, rgba(0, 0, 0, 0.71) 51.04%, rgba(7, 15, 25, 0.80) 100%);
  z-index: -1;
}

.films__img {
  position: absolute;
  z-index: -2;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  transition: 500ms;
}

.films__item:hover .films__img {
  transform: scale(1.2);
}

.films__item:hover .films__time {
  transform: scale(0);
}

.films__item:hover .films__icon {
  transform: scale(1.5) rotateX(180deg) translateY(-15px);
}

.films__icon {
  margin-bottom: 12px;
  transition: 500ms;
}

.films__time {
  border-radius: 9px;
  border: 1px solid #FFF;
  background: rgba(7, 15, 25, 0.20);
  padding: 7px 27px;
  color: #FFF;
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  margin-bottom: 38px;
  transition: 500ms;
}

.films__item-title {
  color: #FFF;
  text-align: center;
  font-family: 'Montserrat';
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  text-transform: capitalize;
  margin-bottom: 12px;
}

.films__desc {
  color: #FFF;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7;
  overflow: hidden;
}

.cartoons {
  padding-top: 42px;
  display: flex;
  position: relative;
  height: 500px;
}

.cartoons::after {
  content: '';
  display: block;
  background: linear-gradient(90deg, #DEF7FF 0%, #F4FCFF 45.64%, rgba(255, 255, 255, 0.00) 100.72%);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.cartoons__video {
  position: absolute;
  z-index: -2;
  width: 60%;
  height: 100%;
  top: 0;
  right: 0;
  object-fit: cover;
}

.cartoons__logo {
  margin-bottom: 51px;
  transform: translateX(-20px);
  max-width: 460px;
  width: 100%;
}

.cartoons__desc {
  color: #000;
  text-align: justify;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 55px;
  max-width: 558px;
  width: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
}